{% layout 'layout.liquid' %}
{% block content %}
  
  <div class="feed-container">
    <h1 style="font-family: lobster, cursive; font-size: 70px;">Wellness Feed</h1>
    
    {% for wellnessTip in wellnessTips %}
      <div class="item-post">
        {% if starterWellnessTips %}
            <h3 style="text-align: center;">
          The powers that be have shared a product!
            </h3>

        {% else %}
            <h3 style="text-align: center;">
          {{ wellnessTip.owner.username }} has shared a Wellness Tip!
             </h3>

        {% endif %}
      <div class="imageGoesHere"></div>
      <h4>{{ wellnessTip.title }}</h4>
      <h4>{{ wellnessTip.goodFor }}</h4>
      <h5>{{ wellnessTip.description }}</h5>
      <a href="{{ wellnessTip.source }}" target="_blank"   style="margin-right: 40px;"  class="btn btn-info view-btn">
        View Source 
      </a>
      <a href="/wellnessTips/{{ wellnessTip.id }}" class="btn btn-info view-btn">
        View Tip {{ wellnessTip.title }}
      </a>
  </div>

  <h4 style="margin: 5px 0 15px 550px; text-align:left; margin-bottom: 0" >Comments
      </h4>
    <div class="item-comments">
     
      {% for comments in wellnessTip.comments %}
        
        <p style="font-style: italic; margin-bottom: 0; color:#430289">{{ comments.owner.username }} says:</p>
        <p style="margin-bottom: 2px"> "{{ comments.note }}"</p>
        {% if comments.owner.id == userId %}
      <form action="/comments/delete/{{ wellnessTip.id }}/{{ comments.id }}?_method=DELETE" method="POST">
        <input
         style="margin-bottom: 5px;padding:2px 5px;"
          class="btn btn-danger view-btn"
          type="submit"
          value="x">
      </form>
      {% endif %}
       
        {% endfor %}
       
    </div>

    {% if loggedIn %}
    <form style="margin: 5px 0 15px 550px; text-align: left;" action="/comments/wellnessTips/{{ wellnessTip.id }}" method="POST">
      <fieldset>
        <legend>Add Comment</legend>
        <label class="form-label">comment:
        </label>
        <input
          type="text"
          name="note"
          class="form-control mb-1">
      </fieldset>
      <input
        type="submit"
        class="btn btn-success"
        value="add comment">
    </form>

  {% else %}
    <div class="col-md-6" style="margin: 5px 0 15px 550px; text-align: left;">
      <small>If you'd like to leave a comment, please log in...</small>
    </div>
  {% endif %}
  

  {% endfor %}



  {% for product in products %}
    <div class="item-post">
      {% if starterProducts %}
        <h3 style="text-align: center;">
          The powers that be have shared a product!
        </h3>

      {% else %}
        <h3 style="text-align: center;">
          {{ product.owner.username }} has shared a product!
        </h3>

      {% endif %}
      <div class="item-img">
        <img src="{{ product.productImg }}" alt="product img">
      </div>
      <span style="text-decoration: underline;">
        <h4>{{ product.brand }}</h4>
        <h4>{{ product.name }}</h4>
        </span>
        <h5>Rating:{{ product.personalRating }}</h5>
      
      <h5>{{ product.description }}</h5>
      <h5>
        Skin Types: {{ product.skinType }}</h5>
      <h5>
        Good For: {{ product.goodFor }}</h5>
      <span style="margin-left: 90px;">
        <a href="/products/{{ product.id }}" class="btn btn-info view-btn">
          View Item {{ product.title }}
        </a>
        <a href="{{ product.productLink }}" target="_blank" style="margin-left: 60px;" class="btn btn-info view-btn">
          Buy Item {{ product.title }}
        </a>
      </span>


    </div>
    <div class="item-comments">
      <h4>Comments
      </h4>
      
      {% for comments in product.comments %}
        
        <p style="font-style: italic; margin-bottom: 0; color:#430289">{{ comments.owner.username }} says : </p>
         <p style="margin-bottom: 2px"> "{{ comments.note }}"</p>
         {% if comments.owner.id == userId %}
        <form  action="/comments/delete/{{ product.id }}/{{ comments.id }}?_method=DELETE" method="POST">
          <input
            style="margin-bottom: 5px;padding:2px 5px;"
            class="btn btn-danger view-btn"
            type="submit"
            value="x">
        </form>
      {% endif %}
         
         {% endfor %}
      

    </div>
    {% if loggedIn %}

        <form style="margin: 5px 0 15px 550px; text-align: left;" action="/comments/products/{{ product.id }}" method="POST">
          <fieldset>
            <legend>Add Comment</legend>
            <label class="form-label">comment:
            </label>
            <input
              type="text"
              name="note"
              class="form-control mb-1">
          </fieldset>
          <input
            type="submit"
            class="btn btn-success"
            value="add comment">
        </form>

      {% else %}
        <div class="col-md-6" style="margin: 5px 0 15px 550px; text-align: left;">
          <small>If you'd like to leave a comment, please log in...</small>
        </div>
      {% endif %}
      


  {% endfor %}



{% endblock %}