{% layout 'layout.liquid' %}
{% block content %}
  <div>
    <h2 class="display-6">All wellnessTips</h2>
    <div class="row">
      {% for wellnessTip in wellnessTips %}
        <div class="card" style="width: 18rem;">
          <h5 class="card-header">{{ wellnessTip.title }}</h5>
          <h5 class="card-header">Good For: {{ wellnessTip.goodFor }}</h5>
          <div class="card-body">

            <p class="card-text">
              Description: {{ wellnessTip.description }}
            </p>
            <p class="card-text">
              Sources: {{ wellnessTip.source }}
            </p>
            <a href="/wellnessTips/{{ wellnessTip.id }}" class="btn btn-info">
              View {{ wellnessTip.title }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}