{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
  <article class="show-item inner-content">
    <div style="align-self:center;  " class="item-img">
      <img
        style="width: 280px;"
        src="{{ wellnessTip.tipImg }}"
        alt="wellnessTip img">
        <div>
          <a href="{{ wellnessTip.source }}" target="_blank"   style="margin-right: 40px;"  class="btn btn-info view-btn">
        View Source 
      </a>
        </div>
        {% if wellnessTip.owner == userId %}
            <div class="edit-delete">
              <a href="/wellnessTips/{{ wellnessTip.id }}/edit" class="btn btn-primary view-btn" style="">Edit Wellness Tip Info</a>
              <form action="/wellnessTips/{{ wellnessTip.id }}?_method=DELETE" method="POST">
                  <input type="submit" value="Delete" class="btn btn-danger">
              </form>
            </div>
          {% endif %}
    </div>

    <div style="padding: 20px 50px 40px 0;" class="column">

      <h2 style="font-family: lobster, cursive;">
        {{ wellnessTip.title }}
      </h2>
      
      <h3>Rating: {{ wellnessTip.p }}</h3>
      <span style="text-align: left;">
        <h4>Good For: {{ wellnessTip.goodFor }}</h4>
       
        <h4>Description: {{ wellnessTip.description }}</h4>
      </span>

      <div class="show-comments">
        <h4>Comments
        </h4>
    
        {% for comments in wellnessTip.comments %}
      
        <p style="font-style: italic; margin-bottom: 0;color:#430289">{{ comments.owner.username }} says:</p>
        <p style="margin-bottom: 0;">"{{ comments.note }}"</p>
       
        {% if comments.owner.id == userId %}
        <form  action="/comments/delete/{{ wellnessTip.id }}/{{ comments.id }}?_method=DELETE" method="POST">
          <input
            style="margin-bottom: 5px;padding:2px 5px;"
            class="btn btn-danger view-btn"
            type="submit"
            value="x">
        </form>
      {% endif %}
        {% endfor %}
    

      </div>
      {% if loggedIn %}

      <form style="margin: 5px 0 15px 0; text-align: left;" action="/comments/wellnessTips/{{ wellnessTip.id }}" method="POST">
        <fieldset>
          <legend>Add Comment</legend>
          <label class="form-label">comment:
          </label>
          <input
            type="text"
            name="note"
            class="form-control mb-1">
        </fieldset>
        <input
          type="submit"
          class="btn btn-success"
          value="add comment">
      </form>

      {% else %}
      <div class="col-md-6" style="margin: 5px 0 15px 550px; text-align: left;">
        <small>If you'd like to leave a comment, please log in...</small>
      </div>
      {% endif %}
      {% if comments.owner == userId %}
      <form action="/comments/delete/{{ wellnessTip.id }}/{{ comments.id }}?_method=DELETE" method="POST">
        <input
          class="btn btn-danger"
          type="submit"
          value="X">
      </form>
      {% endif %}
      
    
  </article>
</div>
{% endblock %}