{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-sm">
    <form action="/products/{{ product.id }}?_method=PUT" method="POST">
      <fieldset>
        <legend style="margin-top: 30px; font-family: lobster,cursive; font-size: 40px;">
          Edit Product</legend>
        <label  class="form-label">Product Name:
        </label>
        <input
          type="text"
          name="name"
          value="{{ product.name }}"
          placeholder="enter product name"
          class="form-control">
        <label class="form-label">Brand:
        </label>
        <input
          type="text"
          name="brand"
          value="{{ product.brand }}"
          placeholder="Enter brand name"
          class="form-control">
        <label class="form-label">Personal Rating:
        </label>
        <input
          type="number"
          name="personalRating"
          value="{{ product.productRating }}"
          placeholder="1-10"
          class="form-control">
        <label class="form-label">Description:</label>
        <input
          type="text"
          name="description"
          value="{{ product.description }}"
          placeholder="Tell us about the product!"
          class="form-control">
        <label class="form-label">Good For:</label>
        <input
          type="text"
          name="goodFor"
          value="{{ product.goodFor }}"
          placeholder="What does your product help with?"
          class="form-control">
        <label class="form-label">Skin Types:</label>
        <input
          type="text"
          name="skinType"
          value="{{ product.skinType }}"
          placeholder="Which skin type is this product for?(can be for All skin types!)"
          class="form-control">
        <label class="form-label">Time Used:</label>
        <input
          type="text"
          name="timeUsed"
          value="{{ product.timeUsed }}"
          placeholder="How long have you used this product?"
          class="form-control">
        <label class="form-label">
          Product Image</label>
        <input
          type="text"
          name="productImg"
          value="{{ product.productImg }}"
          placeholder="Paste your Image Address link here"
          class="form-control">
        <label class="form-label">
          Product Link</label>
        <input
          type="text"
          name="productLink"
          value="{{ product.productLink }}"
          placeholder="Paste the link to your product here so users can buy"
          class="form-control">

      </fieldset>
      <input
        style="margin: 20px;"
        type="submit"
        value="Edit product"
        class="btn btn-success">
    </form>
  </div>
{% endblock %}