{% layout 'layout.liquid' %}
{% block content %}
  <div>
    <h2 class="display-6">All products</h2>
    <div class="row">
      {% for product in products %}
        <div class="card" style="width: 18rem;">
          <h5 class="card-header">{{ product.brand }}</h5>
          <h5 class="card-header">{{ product.name }}</h5>

          <div class="card-body">
            <h5 class="card-title">
              About {{ product.name }}:
            </h5>
            <h5 class="card-title">
              Rating:{{ product.personalRating }}
            </h5>
            <p class="card-text">
              Good For: {{ product.goodFor }}
            </p>
            <p class="card-text">
              Skin Types: {{ product.skinType }}
            </p>
            <p class="card-text">
              Time Used: {{ product.timeUsed }}
            </p>
            <p class="card-text">
              Description: {{ product.description }}
            </p>

            <a href="/products/{{ product.id }}" class="btn btn-info">
              View {{ product.title }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}